/* Error: Undefined variable.
 *    ,
 * 34 |     font-size: $fontT1;
 *    |                ^^^^^^^
 *    '
 *   Estilos\SCSS\mixin.scss 34:16  titulo()
 *   Estilos\SCSS\Style.scss 84:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 34 \2502      font-size: $fontT1;\d\a    \2502                 ^^^^^^^\a    \2575 \a   Estilos\\SCSS\\mixin.scss 34:16  titulo()\a   Estilos\\SCSS\\Style.scss 84:9   root stylesheet";
}
