@keyframes aparecer {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 2;
  }
  50% {
    opacity: 4;
  }
  75% {
    opacity: 5;
  }
  100% {
    opacity: 6;
  }
}
.body-index, .body-educacionI, .acercaDe-Body {
  background: blanchedalmond;
}
.body-index .navbar, .body-educacionI .navbar, .acercaDe-Body .navbar {
  background-color: blue;
  text-decoration: none;
  margin: 0;
  padding: 10px 40px;
  overflow: hidden;
}
.body-index .navbar-ul-li, .body-educacionI .navbar-ul-li, .acercaDe-Body .navbar-ul-li {
  float: left;
  text-decoration: none;
}
.body-index .nav-imagen, .body-educacionI .nav-imagen, .acercaDe-Body .nav-imagen {
  width: 100px;
  height: 80px;
  text-decoration: none;
  animation-name: aparecer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.body-index .nav-enlaces, .body-educacionI .nav-enlaces, .acercaDe-Body .nav-enlaces {
  text-decoration: none;
  display: block;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  text-align: center;
  padding: 14px 40px;
}
.body-index .nav-enlaces:hover, .body-educacionI .nav-enlaces:hover, .acercaDe-Body .nav-enlaces:hover {
  background-color: grey;
  text-decoration: none;
  color: blue;
  font-family: "Roboto";
  font-weight: bold;
}
.body-index .search-container, .body-educacionI .search-container, .acercaDe-Body .search-container {
  float: right;
  text-decoration: none;
}
.body-index .titulo, .body-educacionI .titulo, .acercaDe-Body .titulo {
  color: blue;
  font-family: "Times New Roman";
  font-size: 80px;
  text-decoration: underline;
  text-decoration-style: bold;
  text-align: center;
  transition: infinite;
  transition: all 3s;
}
.body-index .titulo:hover, .body-educacionI .titulo:hover, .acercaDe-Body .titulo:hover {
  font-family: "Pacifico";
  color: red;
  font-size: 100px;
}
.body-index .texto, .body-educacionI .texto, .acercaDe-Body .texto {
  padding: 25px 25px;
  font-size: 25px;
  font-family: "Times New Roman";
  text-align: justify;
}
.body-index .titulo2, .body-educacionI .titulo2, .acercaDe-Body .titulo2 {
  font-size: 80px;
  font-family: "Times New Roman";
  text-align: center;
  text-decoration: underline;
  color: blue;
}
.body-index .titulo2:hover, .body-educacionI .titulo2:hover, .acercaDe-Body .titulo2:hover {
  color: red;
  font-family: "Pacifico";
}
.body-index .contenedor1, .body-educacionI .contenedor1, .acercaDe-Body .contenedor1 {
  display: block;
  justify-content: center;
  padding: 60px 60px;
  justify-content: center;
  text-align: center;
}
.body-index .pages, .body-educacionI .pages, .acercaDe-Body .pages {
  width: 250px;
  height: 150px;
  justify-content: center;
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;
  animation-name: aparecer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.body-index .datosCreacion, .body-educacionI .datosCreacion, .acercaDe-Body .datosCreacion {
  font-size: 25px;
  font-family: "Arial";
  text-align: center;
  text-decoration: none;
}
.body-index .logoFinal, .body-educacionI .logoFinal, .acercaDe-Body .logoFinal {
  width: 100px;
  height: 100px;
  justify-content: center;
  text-align: center;
}
.body-index .contenedor2, .body-educacionI .contenedor2, .acercaDe-Body .contenedor2 {
  display: block;
  justify-content: center;
  text-align: center;
}

/*# sourceMappingURL=Style.css.map */
