@import "variables.scss";
@import "mixin.scss";


//Body del index//
.body-index {
    background: $color4;
//header del index//
    header {
        &.navbar {
            list-style-type: $Dec4;
            margin: $Size7;
            padding: $Size7;
            overflow: $overflow1;
            background-color: $color9;
        }
        &.navbar-ul li {
            float: $float1;
        }
    
        &.navbar-ul li a {
            display: $Display2;
            color: $color7;
            text-align: $Alig1;
            padding: $Size8 $Size9;
            text-decoration: $Dec4;
        }
    
        &.navbar-ul li a:hover {
            background-color: $color6;
            color: $color2;
            font-family: $font3;
            font-weight: $Dec2;
        }
    
        &.search-container {
            float: $float2;
        }
    }



}

 //body de la página Educación Tecnológica I //
.educacionI-body {   
    background: $color4;

   //header de Educación Tecnológica I//

        .header {
            &.navbar {
                list-style-type: $Dec4;
                margin: $Size7;
                padding: $Size7;
                overflow: $overflow1;
                background-color: $color9;
            }
            &.navbar-ul li {
                float: $float1;
            }
        
            &.navbar-ul li a {
                display: $Display2;
                color: $color7;
                text-align: $Alig1;
                padding: $Size8 $Size9;
                text-decoration: $Dec4;
            }
        
            &.navbar-ul li a:hover {
                background-color: $color6;
                color: $color2;
                font-family: $font3;
                font-weight: $Dec2;
            }
        
            &.search-container {
                float: $float2;
            }
        }

    .planificacion-educacionI-titulo {
        @include titulo ($color2);

        &:hover {
            font-family: $font2;
            color: $color1;
            font-size: $Size19;
        }
    }

    .planificacion-educacionI-texto {
        font-size: $Size20;
        color: $color3;
        margin-right: $Size2;
        text-decoration: $Dec1;

        &:hover {
            text-transform: $Dec3;
        }
    }

    .planificacion-educacionI-texto1 {
        font-size: $Size20;
        margin-right: $Size2;
        text-align: $Alig1;
    }

    .planificación-educacionI-otros {
        font-size: $Size17;
        font-family: $font1;
        text-align: $Alig1;
        text-decoration: $Dec1;
        color: $color2;

        &:hover {
            color: $color1;
            font-family: $font2;
        }
    }

    .planficion-educacionI-capacidades-items {
        font-size: $Size18;
        font-family: $font3 ;
    }

    .unidades {
        display: $Display1;
        animation-name: aparecer;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    .imagen {
        display: $Display1;
        padding: $Size3;
        margin-left: $Size1;
        margin-right: $Size1;
    }

    .enlacePlanificacion {
        text-decoration: $Dec4;
        text-align: $Alig1;

        & :hover {
            color: $color1;
            text-align: $Alig1;
        }
    }

    .metodologia {
        @include metodologia;
    }

    .datosCreacion {
        font-size: $Size21;
        font-family: $font4;
        text-align: $Alig1;
        text-decoration: $Dec4;
    }

    .enlaceRedes {
        font-size: $Size20;
        font-family: $font3;
        color: $color3;
    }

    .galeriaFotos-inner {
        width: $Size4;
        height: $Size12;
    }

    .galeriaFotos-item {
        display: $Display1;
        width: $Size2;
        height: $Size1;
        margin-right: $Size3;
        margin-left: $Size3;
    }

    @keyframes aparecer {
        0% {
            opacity: 0;
        }

        25% {
            opacity: 2;
        }

        50% {
            opacity: 4;
        }

        75% {
            opacity: 5;
        }

        100% {
            opacity: 6;
        }
    }
}