//Variables//
$Alig1: center;
$Alig2: justify;
$Dec1: underline;
$Dec2: bold;
$Dec3: uppercase;
$Dec4: none;
$font1: "Times New Roman";
$font2: "Pacifico";
$font3: "Roboto";
$font4: "Arial";
$font5: "Sacramento";
$borderE1: dashed;
$borderE2: ridge;
$borderE3: double;
$color1: red;
$color2: blue;
$color3: black;
$color4: blanchedalmond;
$color5: rosybrown;
$color6: grey;
$color7: white;
$color8: #4CAF50;
$color9: #333;
$Size1: 15px;
$Size2: 10px;
$Size3: 35px;
$Size4: 600px;
$Size5: 5px;
$Size6: 20px;
$Size7: 0;
$Size8: 14px;
$Size9: 16px;
$Size10: 6px;
$Size11: 8px;
$Size12: 400px;
$Size13: 1000px;
$Size14: 5%;
$Size15: 100%;
$Size16: 60px;
$Size17: 80px;
$Size18: 40px;
$Size19: 100px;
$Size20: 50px;
$Size21: 25px;
$Size22: 17px;
$Size23: auto;
$Display1: inline-flex;
$Display2: block;
$Display3: flex;
$posicion1: absolute;
$cursor1: pointer;
$overflow1: hidden;
$float1: left;
$float2: right;

//Media Queries//
$tamanoSM: 576px;  
$tananoMD: 768px;
$tamanoLG: 992px;
$tamanoXL: 1200px;