$historia-font: 30px justify "Pacifico";
$font-datos: 80px blue "Satisfy" underline;
$datos-hover: double black;
$nav-index: none black;
$nav-border: blue 10px double;
$index-enlaces: none 30px "Times New Roman" justify blue;
$index-enlaces-hover: uppercase unset red 40px bold "GreatVibes";
$reflexion-h1-font: 60px unset "Pacifico" black;
$reflexion-h1-border: double blue;
$reflexion-p: 30px "Times New Roman" justify;
$registro-ingreso: center 20px black "Times New Roman";
$registro-datos: center "Verdana" 20px black;
$registro-condiciones: "Arial" center 15px;
$registro-acepte: 20px center bold;
$registro-acepte-hover: "Times New Roman" blue;
$header-nav: white none;
$educacionI-titulo: 80px blue "Times New Roman" underline center;
$educacionI-texto1: 50px center;
$educacionI-texto: 40px "Arial" underline;
$educacionI-texto-hover: blue uppercase 60px;
$educacionI-contenidos-columnas: "Times New Roman" 40px;
$educacionI-contenidos-parrafos: "Times New Roman" 25px justify;
$educacionI-unidades: 40px center underline "Arial";
$educacionI-otros: 60px center underline blue;
$educacionI-otos-hover: 80px red;
$educacionI-metodologia-p: justify 25px "Times New Roman";
$educacionI-tituloh4: center 40px bold "Satisfy" blue underline;
$educacionI-item: "Times New Roman" justify 25px;
$proyectos-primero: blue 50px "Pacifico";
 